.whole-page {
  height: 100vh !important;
}
.landing-main {
  max-width: 1500px;
}

.my-input {
  color: black !important;
}
.my-alert {
  width: fit-content;
  position: fixed !important;
  left: 3vw !important;
  bottom: 3vh !important;
}
.my-btn {
  background-color: lightcoral !important;
  color: white !important;
}
.my-btn:hover {
  background-color: rgb(188, 74, 74) !important;
}
:root {
  --bg-color: #d0d2d0;

  --main-text-color: #012611;
  --sec-text-color: #03401d;

  --main-btn-color: #012611;
  --main-btn-hover-bg-color: #012611;
  --main-btn-hover-color: #ecf2d5;
  --main-btn-hover-border-color: #012611;

  --sec-btn-color: #03401d;
  --sec-btn-hover-color: #fff;
  --sec-btn-hover-bg-color: #cef2bd;
  --sec-btn-hover-border-color: #cef2bd;
}
#my-container {
  height: calc(100vh - 60px);
  overflow: auto;
}
body {
  height: 100%;
}

@media (max-width: 800px) {
}
@media (max-width: 1536px) {
  .landing-pic {
    object-fit: cover;
  }
  .landing-container {
    overflow: auto;
    height: 100vh;
    display: flex;
  }
  .image-container {
    flex: 4;
  }
  .landing-image {
    object-fit: cover;
    height: 100vh;
    width: 80vw;
    /* width: calc(0.66666667 * 100vw); */
    /* border-right: 1px solid #03401d; */
  }
  .image-wrapper {
    display: flex;
    position: relative;

    /* -webkit-clip-path: polygon(0% 0%, 100% 0%, 0% 600%, 0% 0%);
    clip-path: polygon(0% 0%, 100% 0%, 0% 600%, 0% 0%); */
  }
  .details-container {
    flex: 2;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .inside-container {
    content: "";
    position: absolute;
    top: 0;
    left: -230px;
    transform: skew(350deg);
    transform-origin: right;
    box-shadow: 1px -1rem 2rem 5px rgb(0 0 0 / 58%);
  }
  .details-wrapper {
    padding: 2rem;
    margin-top: 5rem;
  }
  .details-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

#flexSwitchCheckChecked {
  width: 5em;
  height: 2em;
  border-color: #0dcaf0;
  position: fixed;
  bottom: 2em;
  right: 2em;
}
#flexSwitchCheckChecked:checked {
  background-color: #0dcaf0;
}

.heading {
  border-bottom: solid;
}
#modalSignin {
  margin-top: 10vh;
}
.left-padding {
  padding-left: 5px !important;
}
.show-password {
  margin-left: 30px !important;
}
.hidden-stuff {
  padding-right: 0 !important;
}
.problem-msg {
  margin-left: 5px;
  color: #dc3545;
}
.my-active {
  font-weight: 700 !important;
}
a {
  color: #0dcaf0 !important;
}
#navbar {
  width: 90%;
}

.b-example-divider {
  height: 0.25rem;
  border: solid rgba(0, 0, 0, 0.15);
}

.after-photo {
  border-radius: 25px;
  padding: 3rem;
  position: sticky;
}
.img {
  border-radius: 50% !important;
  width: 12.5rem !important;
  height: 12.5rem !important;
  text-align: center;
  object-fit: cover;
  margin-top: -7rem;
  border: solid 0.75rem;
}
.right {
  border-radius: 25px;
}
.details {
  font-size: medium;
}
.detail-key,
.detail-value {
  margin-bottom: 1rem;
}
.list-group-item {
  border-radius: 1rem !important;
}
.edit-btn {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}
.margin-left {
  margin-left: 5rem !important;
}
.background {
  height: 15rem;
  border-radius: 25px;
}
.scroll-disable {
  overflow-y: hidden;
  overflow-x: hidden;
}
.scroll-enable {
  overflow: auto !important;
}
#edit-details-modal {
  margin-top: 5rem !important;
}
/* ::-webkit-scrollbar {
  color: #dc3545;
  scrollbar-3dlight-color: #dc3545;
} */
#add-about-modal {
  margin-top: 7rem !important;
}
textarea {
  border-radius: 25px;
  resize: vertical;
}
.section-edit-btn {
  float: left;
}
.post-image {
  border-radius: 25px;
}
.post {
  border: 0 !important;
  border-radius: 25px !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25) !important;
}
.add-post-btn {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  width: 7rem;
  height: 4rem;
  border-radius: 50px !important;
  padding: 0 !important;
  z-index: 99;
}
.photo-post {
  width: 3rem !important;
  height: 3rem !important;
  border: 0 !important;
  margin: 0 1rem 0 0 !important;
}
.posts-container {
  padding: 4rem 7rem 5rem 7rem !important;
}
/* .post-title:focus {
  v-color: transparent !important;
} */
#create-post-input {
  border-bottom: solid grey !important;
}
.create-post-textarea {
  border: 0 !important;
  height: 10rem !important;
}
.cover-container {
  background-color: lightcoral;
  color: white;
}
.create-post-cl ose {
  float: right;
}
.account-container {
  height: 90%;
  display: flex;
  margin-top: 2rem;
  border-radius: 3.5rem;
  padding: 2rem;
  width: 80%;
  background-color: lightcoral;
  box-shadow: 5px 0.5rem 0.25rem rgba(0, 0, 0, 0.5);
}

.img-placeholder,
.img-placeholder-view {
  margin-top: 4rem;
  border-radius: 50% !important;
  width: 10rem !important;
  height: 10rem !important;
  text-align: center;
  object-fit: cover;
  background-color: grey;
  border: solid white;
  border-width: 0.5rem;
  box-shadow: 2.5px 0.25rem 0.125rem rgba(0, 0, 0, 0.5);
}
.img-placeholder {
  cursor: pointer;
}
.photo-post-placeholder {
  width: 3rem !important;
  height: 3rem !important;
  border: 0 !important;
  margin: 0 1rem 0 0 !important;
  background-color: grey;
  display: inline-block;
}
.cola {
  width: 0.6em !important;
  height: 0.6em !important;
  margin-top: 0.25em !important;
}
.user-searched {
  cursor: pointer !important;
}
.section-header {
  position: relative;
}
.section-menu-container {
  position: absolute;
  right: 0;
  bottom: 5px;
  height: 40px;
  width: 40px !important;
  border-radius: 50px;
  cursor: pointer;
}
.section-menu-container:hover {
  background-color: rgb(240, 234, 234);
}

.section-menu {
  object-fit: cover;
  height: 25px;
  width: auto;
}

.comment-section-container {
  height: 40px;
  width: 40px !important;
  border-radius: 50px;
  cursor: pointer;
}
.comment-menu {
  object-fit: cover;
  height: 25px;
  width: auto;
  cursor: pointer;
}
.reply-menu,
.message-menu {
  object-fit: cover;
  height: 15px;
  width: auto;
  cursor: pointer;
}
.user-details {
  max-width: inherit;
  /* display: flex; */
  position: absolute;
  align-self: center !important;
}
.dets {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
}
.options {
  background-color: white;
  border-radius: 25px;
  height: fit-content;
  width: fit-content;
  position: absolute;
  padding: 1rem;
  flex: 12;
  top: 1.5rem;
  right: 0;
}
.more {
  margin-top: 0.25rem;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}
.more:hover {
  border-radius: 50%;
  background-color: rgb(241, 228, 228);
}
.comment-options,
.message-options {
  background-color: white;
  border-radius: 25px;
  height: fit-content;
  width: fit-content;
  position: absolute;
  flex: 12;
}
.comment-options {
  right: 0.5rem;
}

.show-dropdown {
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate3d(93.6px, 40px, 0px);
}
.comment-options-item {
  padding: 0.5rem;
  border-radius: 12.5px;
  width: 100% !important;
  height: 100% !important;
  font-size: medium;
  cursor: pointer;
  display: flex;
}
.options-item {
  display: flex;
  padding: 0.5rem;
  border-radius: 12.5px;
  width: 100% !important;
  height: 100% !important;
  font-size: medium;
  cursor: pointer;
}
.options-item:first-of-type {
  margin: 0 0 0.5rem 0;
}
.options-item:hover {
  background-color: rgb(239, 234, 234);
}
.comment-options-item:hover {
  background-color: rgb(239, 234, 234);
}
.comment-btn {
  border-radius: 25px !important;
  margin-top: 0.5rem;
  float: right;
}

.comment-input,
.reply-input {
  border-radius: 15px !important;
}
.reply-input {
  height: 55px !important;
}
.comment-submit {
  border-radius: 25px !important;
}
.first-to-reply {
  font-style: italic !important;
}
.comment-img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
}
.reply-img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  object-fit: cover;
}
.like-btn {
  width: 2.25rem !important;
  cursor: pointer;
  padding-right: 0 !important;
}
.comment-btn {
  width: 2.25rem !important;
  cursor: pointer;
  padding-right: 0 !important;
}
.show-replies {
  font-size: small !important;
}

/* chat page */
.chat-page-container {
  height: calc(100vh - 60px);
  display: flex;
}

.contacts-container {
  flex: 2;
  justify-content: center;
  height: fit-content;
}
.chats-container {
  justify-content: left;
  flex: 4;
}
.chats-wrapper,
.contacts-wrapper {
  padding: 1rem;
}
.chats-wrapper {
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.stop-overflow {
  overflow-y: hidden;
}
.conversation {
  position: relative;
}
.nav-item {
  position: relative;
}
.unread-message,
.unread-message-conversation {
  font-size: 12px;
  color: #cef2bd;
  position: absolute;
  padding: 2px 6px;
  border-radius: 50%;
  /* width: auto; */
  /* height: 2px; */
  background-color: #012611;
}
.unread-message {
  top: -2px;
  left: 30px;
}
.unread-message-conversation {
  top: 25px;
  right: 5px;
}
.chat-top {
  padding: 1rem;
  overflow-y: scroll;
  height: 70vh;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}
.chats-container {
  height: 100% !important;
}
.chat-bottom {
  margin-top: 1rem;
  padding-bottom: 0.5rem;

  box-shadow: 0px -0.5rem 0.25rem rgba(0, 0, 0, 0.125);
  padding-top: 1rem;
}
.current-contact {
  display: flex;
  align-items: center;
  border-bottom-left-radius: 4rem;
  border-bottom-right-radius: 4rem;
  padding: 0.75rem;
  min-height: 6rem;
  max-height: fit-content;
  box-shadow: 0px 0.5rem 0.25rem rgba(0, 0, 0, 0.125);
  background-color: lightcoral;
}

/* making the onlien bagde */
.conversation-img-container {
  position: relative;
  display: inline-block;
  margin-right: 1rem;
}
.online-badge {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: limegreen;
  top: 3px;
  right: 5px;
}

/* conversation stuff, the users with whom yuou have talks */

.conversation-img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  object-fit: cover;
}
.conversation {
  margin-top: 1rem;
  padding: 10px;
  align-items: center;
  cursor: pointer;
  border-radius: 25px;
}
.conversation:hover {
  background-color: #cef2bd;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
  transition: all o.5s ease;
}
.chat-search-input {
  border: 1px solid #03401d !important;
}
.chat-search-input:focus {
  border: 0 !important;
  outline: var(--sec-text-color) !important;
  box-shadow: 0 0 0 0.25rem rgba(3, 64, 29, 0.25) !important;
}
.show-contacts {
  width: 100% !important;
  visibility: hidden;
  padding: 1rem;
  width: 100%;
}
.show-contacts-btn {
  width: 100%;
}
/* for when the screen is small in width, basically mobile, for now let it be will see later */
/* @media (max-width: 576px) {
  .show-contacts {
    visibility: visible;
    position: absolute;
  }
  .chats-container {
    margin-top: 3rem;
  }
  .contacts-container {
    visibility: hidden;
    position: absolute;
  }
} */

/* for the messages component */
.message {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  overflow-wrap: break-word;
}
.message-top {
  position: relative;
  display: flex;
}
.img-cont {
  align-items: center;
}
.message-menu {
  position: absolute;
  left: 2.25rem;
  top: 5px;
}

.pic-update {
  height: fit-content;
}
.back-arrow {
  color: rgb(132, 130, 130);
  position: absolute;
}
.message-options {
  top: 2rem;
  right: 4rem;
  background-color: #cef2bd !important;
}
.message-img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
}

.msg-options {
  position: absolute;
  bottom: 0.5rem;
  left: -2rem;
  /* margin-top: 0.5rem;
  margin-right: -1rem; */
}
.friend {
  align-items: flex-start;
}
.friend-msg-options {
  position: absolute;
  bottom: 0.5rem;
  right: -0.25rem;
  margin-top: -0.75rem;
  margin-right: -0.75rem;
}
.message-text {
  margin-left: 0.5rem;
  margin-right: 0.75em !important;
  padding: 1rem;
  border: 1px solid rgb(122, 204, 200);
  border-radius: 20px;
  max-width: 15rem !important;
  font-size: 12.5px;
  overflow-wrap: break-word !important;
}
.message-bottom {
  font-size: 12px;
  position: absolute;
  bottom: -1.5rem;
  right: 0.5rem;
}
.message-bottom-friend {
  font-size: 12px;
  position: absolute;
  bottom: -1.5rem;
  left: 0.5rem;
}
.own {
  align-items: flex-end;
}
.own > .message-top > .message-text {
  border: 1px solid rgb(245, 152, 157);
}
.chat-bottom {
  align-items: center;
  justify-content: space-around;
  background-color: lightcoral;
}
.color-own {
  border-color: lightcoral !important;
}
.chat-message-input {
  width: 80%;
  display: inline-block;
}

.reply-text {
  opacity: 50%;
}
.before-conversation {
  font-size: 3rem;
  position: absolute;
  top: 40%;
  text-align: center;
  cursor: default;
}
.chat-message-send {
  /* margin-right: 5rem;
  margin-top: 0rem; */
}

.like-count {
  font-size: 15px;
  color: #03401d;
  margin-left: 10px;
}
.post-name {
  cursor: pointer;
}
.post-img {
  cursor: pointer;
}
.my-message {
  position: absolute !important;
  bottom: 20px;
  left: 20px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25) !important;
  z-index: 99999;
  transition: opacity 0.5s cubic-bezier(0.09, 1.03, 0.63, 0.87) !important;
}
.close {
  color: white !important;
}
.my-input {
  border: 0 !important;
  color: lightcoral !important;
}
.my-input:focus {
  outline: lightcoral !important;
  box-shadow: 0 0 0 0.25rem rgba(240, 128, 128, 0.25) !important;
}
.form-check-input:checked {
  background-color: lightcoral !important;
  border-color: white !important;
}
.form-check-input {
  border: solid 2px !important;
  border-color: lightcoral !important;
}
.modal {
  --bs-modal-border-color: transparent !important;
  --bs-modal-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.placeholder-image-name {
  position: absolute;
  top: 1.7rem;
}
.nav-link {
  cursor: pointer !important;
}
/* .explore-search {
  position: absolute;
  right: 5rem;
  margin-bottom: 1rem;
} */
.profile-avatar {
  position: fixed;
  right: 2rem;
  top: 2rem;
}

.profile-img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
}

.conv-name {
  font-size: 20px;
  color: rgb(87, 87, 87);
}

.reply-img {
  opacity: 0;
}
.replying {
  border: solid white;
  border-width: 1px;
  border-radius: 12.5px;
  padding: 0.5rem;
  width: fit-content;
  margin-left: 1rem;
  max-width: 16rem;
  margin-bottom: 0 !important;
}
.replying-to {
  font-style: italic;
  font-weight: 100;
}
.rep-div {
  /* width: 20rem; */
  position: relative;
  display: flex;
}
.reply-width {
  max-width: 10rem !important;
  padding: 0.5rem;
}
